name: Build and Push Docker Image to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      with:
        region: us-east-1  # 필요한 AWS 리전으로 변경

    - name: Build and push Docker image
      id: build-image
      run: |
        # Define the image name
        IMAGE_NAME=<your-ecr-repo-name>

        # Build the Docker image
        docker build -t $IMAGE_NAME .

        # Tag the Docker image with the ECR repository URI
        docker tag $IMAGE_NAME:latest ${{ steps.login-ecr.outputs.registry }}/$IMAGE_NAME:latest

        # Push the image to ECR
        docker push ${{ steps.login-ecr.outputs.registry }}/$IMAGE_NAME:latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Image digest
      run: echo "The image digest is ${{ steps.build-image.outputs.digest }}"
